<a href="https://colab.research.google.com/github/Asim347/Python/blob/main/Dictionary_%26_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### These are used to store data in "key:value" pairs
### keys are not allowed to be repeated

In [13]:
info = {
    "Name" : "Asim",
    "Roll NO" : 34,
    "Learning" : "coding",
    "Marks" : [34,32,55],
    "Subjects" : ["Bio", "Java","C++"]
}
print(type((info)))
print(info)
print(info["Name"])
print(info["Subjects"]) #individual printing
info["Name"] = "Kamran"
print(info["Name"]) #overwrite previous one
print(info)

<class 'dict'>
{'Name': 'Asim', 'Roll NO': 34, 'Learning': 'coding', 'Marks': [34, 32, 55], 'Subjects': ['Bio', 'Java', 'C++']}
Asim
['Bio', 'Java', 'C++']
Kamran
{'Name': 'Kamran', 'Roll NO': 34, 'Learning': 'coding', 'Marks': [34, 32, 55], 'Subjects': ['Bio', 'Java', 'C++']}

In [17]:
null_dict = {}
null_dict["name"] = "Khan"
print(null_dict)

{'name': 'Khan'}

### Nested Dictionary

In [23]:
student = {
    "Name" : "Asim ALi",
    "Subject" : {
        "jave" : 45,
        "C++" : 78,
        "Maths": 76
     },
   "Roll No" : 34
}
print(student)
print(student["Subject"])
print(student["Subject"]["Maths"])

{'Name': 'Asim ALi', 'Subject': {'jave': 45, 'C++': 78, 'Maths': 76}, 'Roll No': 34}
{'jave': 45, 'C++': 78, 'Maths': 76}
76

### Methods

In [39]:
student = {
    "Name" : "Asim ALi",
    "Subject" : {
        "jave" : 45,
        "C++" : 78,
        "Maths": 76
     },
   "Roll No" : 34
}
print(len(student))
print(student.keys())
print(student.values())
print(student.items())
#print(student["Name2"]) # error
print(student.get("Name2")) # return specific value
student.update({"City" :"Peshawar" , "Education" : 14})
print(student)

3
dict_keys(['Name', 'Subject', 'Roll No'])
dict_values(['Asim ALi', {'jave': 45, 'C++': 78, 'Maths': 76}, 34])
dict_items([('Name', 'Asim ALi'), ('Subject', {'jave': 45, 'C++': 78, 'Maths': 76}), ('Roll No', 34)])
None
{'Name': 'Asim ALi', 'Subject': {'jave': 45, 'C++': 78, 'Maths': 76}, 'Roll No': 34, 'City': 'Peshawar', 'Education': 14}

# **Sets** it is immutable(elements) and each element must be unique. List and dic are not allowed

In [44]:
collection = {1,2,2,3,4,4,"hello World"} #ignore duplicate values
print(collection)
print(len(collection))

SyntaxError: invalid syntax (ipython-input-897722570.py, line 2)

# **METHODS**

In [53]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(3)

print(collection)

collection.remove(3)

print(collection)

collection.add("Asim Ali")
print(collection)

print(collection.pop())
print(collection.pop())
print(collection)

{1, 2, 3}
{1, 2}
{'Asim Ali', 1, 2}
Asim Ali
1
{2}

In [56]:
set1 = {1,2,3,4}
set2 = {5,6,3,4}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6}
{3, 4}

In [59]:
# Practice Question
dictionary = {
    "cat" : "a small animal",
    "table" : ["a piece of furniture" , "list of facts and figures"]
}
print(dictionary)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts and figures']}

In [62]:
subjects = {
    "Python" , "Java", "C++" , "Java" , "Python", "C", "Javascript", "Python",
    "C++"
}
print(subjects)
print(len(subjects))

{'C++', 'Python', 'Javascript', 'C', 'Java'}
5

In [64]:
marks = {}

x = int(input("Enter value for Physics: "))
marks.update({"Physics": x})

y = int(input("Enter value for Chemistry: "))
marks.update({"Chemistry": y})

z = int(input("Enter value for Maths: "))
marks.update({"Maths": z})

print(marks)

Enter value for Physics: 78
Enter value for Chemistry: 90
Enter value for Maths: 54
{'Physics': 78, 'Chemistry': 90, 'Maths': 54}

In [74]:
#values = {9, "9.0"}
values = [{"Float": 9.0}, {"Int": 9}]
print(values)
print(type(values))

[{'Float': 9.0}, {'Int': 9}]
<class 'list'>